@media (max-width: 1366px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .contact-container {
        margin-top: 4rem;
        max-width: 76%;
    }

    .resume-button {
        margin-top: 4rem;
    }

    .contact-form {
        gap: 1.0rem;
    }

    .hero-section {
        margin-top: 1.1rem;
    }
}

@media (max-width: 1366px) {
    .container .header-items .nav-sec .nav-items li a {
        font-size: 15px;
    }

    .hero-head h1 {
        font-size: 4.5rem;
    }

    .hero-line {
        flex-grow: 0.8;
    }

    .hero-section .hero-img img {
        width: 420px;
        height: 420px;
    }

    .hero-section {
        margin-top: 3.1rem;
    }

    .container .header-items .nav-sec .btn {
        font-size: 15px;
    }

    .section-title {
        font-size: 2.4rem;
    }

    .contact-container {
        margin-top: 3rem;
    }

    .project-info p {
        margin-bottom: 3px;
    }

    .project-info h3 {
        margin-bottom: 4px;
    }

    .about-text p {
        margin-bottom: 0.1rem;
    }
}

@media (max-width: 1279px) {
    .container .header-items .nav-sec .nav-items li a {
        font-size: 14px;
    }

    .hero-section .hero-img img {
        width: 350px;
        height: 350px;
    }

    .hero-head h1 {
        font-size: 4.2rem;
    }

    .container .header-items .nav-sec .btn {
        font-size: 14px;
    }

    .container .header-items .nav-sec {
        gap: 20px;
    }

    .container .header-items .nav-sec .nav-items {
        gap: 20px;
    }

    .about-text p {
        font-size: 1rem;
    }

    .hero-section {
        margin-top: 5.1rem;
    }
}

@media (max-width: 1023px) {
    .hero-section {
        margin-top: 2rem;
        flex-direction: column;
    }

    .hero-head {
        margin-bottom: 4rem;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        gap: 14px;
    }

    .contact-container {
        gap: 21px;
        padding: 26px
    }

    .contact-social a i {
        font-size: 1.2rem;
    }

    .contact-form {
        gap: 1.2rem;
    }
}

@media (max-width: 700px) {
    .hamburger {
        display: flex;
    }

    .nav-sec {
        position: relative;
    }

    .nav-items {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #0080FF;
        backdrop-filter: blur(10px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: right 0.4s ease-in-out;
        z-index: 1000;
        border-left: 1px solid rgba(0, 128, 255, 0.3);
    }

    .nav-items.active {
        right: 0;
    }

    .nav-items li a {
        font-size: 1.3rem;
    }

    .btn {
        position: fixed;
        bottom: 30px;
        right: -100%;
        transition: right 0.4s ease-in-out;
        z-index: 1000;
    }

    .btn.active {
        right: 50%;
        transform: translateX(50%);
    }

    .container .header-items .nav-sec .btn {
        display: none;
    }

    .hero-head h1 {
        font-size: 2.7rem;
        text-align: center;
    }

    .hero-head p {
        margin-left: 6px;
        text-align: center;
    }

    .hero-social {
        gap: 16px;
    }

    .hero-section .hero-img img {
        width: 330px;
        height: 330px;
    }

    .about-info {
        grid-template-columns: 1fr;
    }

    .hero-intro {
        /* text-align: left!important; */
        margin-top: 1.2rem;
    }

    .about-text h3 {
        font-size: 1.7rem;
    }

    .section-title {
        margin-bottom: 2rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }

    .contact-social {
        width: 100%;
    }

    .contact-section p {
        font-size: 1rem;
    }

    .project-info p {
        margin-bottom: 4px;
    }

    .experience-section {
        padding: 19px 0;
    }

    section {
        padding: 20px 0 !important;
    }

    .timeline {
        padding-left: 0px;
    }

    .timeline-content::before {
        left: -8px;
    }

    .container .header-items .nav-sec .nav-items {
        border-radius: 20px 0 0 20px;
    }

    .contact-container {
        max-width: 90%;
    }

    .container .header-items .nav-sec .nav-items li a {
        font-size: 14px;
        color: #000e1c;
        font-size: 20px;
        font-weight: 800;
    }

    .timeline-content {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
    }

    .timeline-content h3 {
        font-size: 1.3rem;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        gap: 32px;
    }
}